<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <jobs>
    <job>
      <ciUri name="buildFlow" url="https://ci.jenkins-ci.org/view/Jenkins%20core/job/jenkins_main_trunk/" timeout="10" />
      <messenger type="skype" chatId="echo123" />
      <notifications>
        <buildStatusChanged enabled="true" messageSend="true" topicChange="false">
          <status type="success" topic="Build green" message="/me (sun) - build #{1} was {0}" participantMsg=" special thanks to {1}" />
          <status type="unstable" topic="BUILD RED" message="/me (rain) - build #{1} was {0}" participantMsg=" after {0} {1}" />
          <status type="failure" topic="BUILD RED" message="/me (rain) - build #{1} was {0}" participantMsg=" after {0} {1}" />
          <status type="aborted" topicChange="false" message="/me (talktothehand) - pssst I think someone {0} build" participantMsg=", and this is someone is {1}" />
        </buildStatusChanged>
        <buildStillRed enabled="true" type="unstable,failure" message="/me (tumbleweed) - sorry, but build #{1} still {0}" participantMsg=" after push of {0}" />
        <buildFrozen enabled="true" timeout="3000" message="/me (o) Perhaps build flow job is frozen? Build #{0} duration more than expected, about {1} minutes" />
      </notifications>
    </job>
    <job>
      <ciUri name="dailyReport" url="https://ci.jenkins-ci.org/view/Jenkins%20core/job/jenkins_main_trunk/" onTime="10:00" onDate="Tue,Wed,Thu,Fri,Sat" />
      <messenger type="skype" chatId="echo123" />
      <notifications>
        <dailyReport enabled="true" timeFrom="-1|00:00" timeTo="-1|23:59">
          <achieve type="start" message="/me {1} we had {0} builds, of which:" />
          <achieve type="end" message="     have a nice day and green builds, Team." />
          <achieve type="status" condition="success" minToGet="1" message ="(sun) Green: {0} times and took {1}" />
          <achieve type="status" condition="failure,unstable" minToGet="1" message="(rain) Red: {0} times and took {1}" />
          <achieve type="push" condition="failure,unstable" minToGet="2" maxToGet="4" message="(punch) the title of 'Failure Master' gets {0} for {1} broken builds during the day." />
          <achieve type="push" condition="failure,unstable" minToGet="5" message="(bucky) the title of 'Destroyer' gets {0} for {1} broken builds during the day." />
          <achieve type="push" condition="success" minToGet="3" message="(bike) the title of 'More And More' gets {0} for {1} pushes during the day." />
          <achieve type="pushIn" condition="failure,unstable" minToGet="1" maxToGet="2" message="(shielddeflect) the title of 'Red Pusher' gets {0} for {1} push in red build during the day." />
          <achieve type="pushIn" condition="failure,unstable" minToGet="3" message="(headbang) the title of 'EPIC UNSTOPPABLE PUSHER' gets {0} for {1} push in red build during the day." />
        </dailyReport>
      </notifications>
    </job>
    <job>
      <ciUri name="groupStatusMonitoring" url="https://ci.jenkins-ci.org/view/Jenkins%20core/" timeout="10" />
      <messenger type="skype" chatId="echo123" />
      <notifications>
        <groupStatusMonitoring enabled="true" topicChange="true">
          <status type="blue,green" topic="Build green" />
          <status type="red,yellow" topic="BUILD RED: {0}" />
        </groupStatusMonitoring>
      </notifications>
    </job>
  </jobs>
</configuration>